.formuRegis {
    width: 100%;
    height: auto;

    .registrate {
        background-image: url("../imagenes/registrateee.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        padding: 20px;

        .Leyenda {
            color: rgb(0, 0, 0);
            font-size: large;
        }

        label {
            font-size: 25px;
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
    }
}