/* HEADER */
.logoReno {
    width: 100px;
    height: auto;
    border-radius: 100%;
    animation-name: brinco;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes brinco {
    50% {
        transform: rotate(20deg);
        border-radius: 100%;
    }

    100% {
        transform: rotate(-20deg);
        border-radius: 100%;
    }
}

#navbarNavDropdown {
    justify-content: end;
}
#nav-link {
    color: white;
    font-size: 60px;
    font-family: 'The Nautigal', cursive;
    font-weight: lighter;
    &:hover {
        color: rgb(218, 60, 86);
        transition: 1s;
    }
}