#secToilets{
        font-size: 50px;
        text-align: center;
        font-family: 'Luxurious Roman', cursive;
        color: gold;
        background-color: white;
    }
    .div1{
        display: flex;
    }

.toi{
    height: 30%;
    border: solid 2px white;
    background-color: $color1;
}
// each
.toiImg{
    width: 40%;
    height: 300px;
    background-color: rgb(189, 241, 232);
    border: solid black 3px;
}
@each $toi in toi1, toi2, toi3 {
    .#{$toi} {
        background-image: url("./imagenes/#{$toi}.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}