// Paleta de Colores Variables
$color1:rgb(241, 218, 222);
$color2:white;
$color3:rgb(251, 255, 210);

//Variables de ancho pantalla
$ancho:100%;
$ancho2:50%;
$ancho3:25%;
$ancho4:1900px;
$ancho5:1200px;
$ancho6:800px;

// Variables del Alto
$alto:100%;
$alto2:50%;
$alto3:25%;
$alto4:1900px;
$alto5:1200px;
$alto6:800px;

// Variable Font Size
$fontsize:30px;
$fontsize2:40px;
$fontsize3:60px;
$fontsize4:80px;
$fontsize5:100px;

// Variables Font Family
$Family:'The Nautigal', cursive;
$Family2:'Luxurious Roman', cursive;
$Family3:'Montserrat', sans-serif;
$Family4:'Cinzel', serif;
$Family5:'Licorice', cursive;

// Variable Artistas
$artista: Covaleda;